.span12
  = simple_form_for @grade do |f|
    = f.input :name, :label =>"班级名称",:input_html => {:class => "input-xxlarge"}
    = f.input :description,:label =>"班级资料", :input_html => {:class => "input-xxlarge"}
    .form-actions
      =f.submit "提交",:disable_with => "正在提交中...",:class =>"btn btn-primary "